IDI_APPICON ICON "icon.ico"

mui.frag    hlsl "mui.frag.hlsl"
mui.vert    hlsl "mui.vert.hlsl"
shader.frag hlsl "shader.frag.hlsl"
shader.vert hlsl "shader.vert.hlsl"

atlas img "atlas.img"

"pgn-dbtest" out "pgn-dbtest.out"

STRINGTABLE
BEGIN
  101 "Chesstor"
END
